body {
    font-family: Arial, sans-serif;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-button:hover {
    background-color: #1da851;
}

.whatsapp-button svg {
    margin-right: 8px;
}

.whatsapp-button span {
    margin-left: 5px;
}

.popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



.popup-header {
    background-color: #00C853;
    text-align: center;
    color: white;
}

.avatar {
    padding-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.text-header {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.popup-body {
    background-color: white;
    padding: 20px;
    color: #333;
}


input[type="text"] {
    border: none;
    outline: none;
    text-decoration: none;
    border: none;
    padding: 10px;
    flex: 1;
}

input[type="text"]:hover {
    border: none;
}

input[type="text"]:focus {
    border: none;
    outline: none;
}

.btn-send {
    border: none;
    background: none;
    cursor: pointer;
    height: fit-content;
}

.popup-2 {
    height: fit-content;
    width: 300px;
    bottom: 150px;
    margin-bottom: 20px;
    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.popup-1 {
    width: 260px;
}

.popup h3 {
    margin: 0 0 10px;
}

.popup p {
    margin: 0;
}


#closeContainer {
    position: absolute;
    bottom: 505px;
    right: 20px;
    z-index: 1100;
}

#btnclose {
    padding-top: 5px;
    background-color: #00C853;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.popup,
#closeContainer {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.popup.fade-in,
#closeContainer.fade-in {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}